body {
    /*background-size: 100%;*/
    /*background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);*/
    /*background: cover;*/
    font-family: "Source Sans Pro";
    color: #ffffff;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}


img {
    max-width: 100%;
    height: auto;
}






.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
}

.grid-row1 {
    color: #ffffff;
    grid-column: 2 / 3;
    grid-row: 1;
    /*background: white;*/
    /*font-size: 18pt;*/
    align-items: center;
    align-self: center;
}

.grid-row1 h1 {
    font-weight: 600;
}

.grid-row1-1 {
    grid-column: 3 / 10;
    grid-row: 1;
    align-self: center;
}

.grid-row1-1 a {
    padding-left: 50px;
    font-size: 14pt;
    color: white;
    text-decoration: none;
}

.grid-row2-news {
     /*games*/
    grid-row: 2/ span 6;
    grid-column: 2/8;


}

.grid-container-news {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px 50px;
  padding: 10px;
  border: 2px solid #f7f7f7;
  border-radius: 10px;

}
.grid-row2-filter-news {
    /*filter*/
    grid-row: 2/ span 5;
    grid-column: 5/6;
    border: 3px solid #f7f7f7;
    border-radius: 20px;

}
.news-filter {
    border: 2px solid #f7f7f7;
     border-radius: 10PX;


}


    .articles{
      border: 2px solid #f7f7f7;
      margin-bottom: 70px;
      margin-top: 70px;
    }




     /*width: 550px;*/
     .article {
         grid-row: 3/ span 4;
         grid-column: 3/4;
         margin-left: 15px;
         margin-right: 15px;
       }


}

.article-1 {
    grid-row:3/ span 4;
    grid-column: 3/4;
    margin-left: 15px;
    margin-right: 15px;




}
.featured-stories {

     /*CHAT*/
    grid-row: 2 / span 5;
    grid-column: 8/10;

     /*border: 2px solid #f7f7f7;*/
}
.featured-articles-1{
    width: 300px;
    height: 250px;
    border: 2px solid #f7f7f7;


}

.featured-articles-1 h3{margin-left: 5px;

}
.featured-articles-1 p{margin-left: 10px;

}


.featured-articles-2{
    width: 300px;
    height: 300px;
    border: 2px solid #f7f7f7;
    margin-top:20px;


}


.featured-articles-2 h3{margin-left: 5px;

}
.featured-articles-2 p{margin-left: 10px;

}

.featured-articles-3{
    width: 300px;
    height: 290px;
    border: 2px solid #f7f7f7;
    margin-top:20px;

}


.featured-articles-3 h3{margin-left: 5px;

}
.featured-articles-3 p{margin-left: 10px;

}
.featured-articles-4{
    width: 300px;
    height: 265px;
    border: 2px solid #f7f7f7;
    margin-top:20px;
  }


  .featured-articles-4 h3{margin-left: 5px;

  }
  .featured-articles-4 p{margin-left: 10px;

  }

    .featured-articles-5{
        width: 300px;
        height: 400px;
        border: 2px solid #f7f7f7;
        margin-top:20px;
}



.featured-articles-5 h3{margin-left: 5px;

}
.featured-articles-5 p{margin-left: 10px;

}

        .featured-articles-6{
            width: 300px;
            height: 265px;
            border: 2px solid #f7f7f7;
            margin-top:20px;


}


.featured-articles-6 h3{margin-left: 5px;

}
.featured-articles-6 p{margin-left: 10px;

}
}

.button {
    background-color: #c9c3c3;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
