body {
    font-family: "Source Sans Pro";
    color: #ffffff;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}


img {
    max-width: 100%;
    height: auto;
}


/* ------------------------------------ */
/* new CSS Grid */


.head {
    grid-area: head;
    color: #ffffff;
    /*grid-column: 2 / 3;*/
    /*grid-row: 1;*/
    align-items: center;
    align-self: center;
}

.head h1 {
    font-weight: 600;
}

.head a {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 14pt;
    color: white;
    text-decoration: none;
}

.recommended {
    grid-area: rec;
    border: 3px solid #f7f7f7
}

.video {
    grid-area: video;
}

.info{
    grid-area: info;
}


.scores{
    grid-area: scores;
}


.news{
    grid-area: news;
}

.chat{
    grid-area: chat;
}

.foot{
    grid-area: foot;
}



.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
    grid-gap: 10px;
    grid-template-areas:
        ". head head head head head head head head ."
        ". rec video video video video video chat chat ."
        ". rec video video video video video chat chat ."
        ". info info info info info info news news ."
        ". info info info info info info news news ."
        ". scores scores scores scores scores scores news news ."
        ". foot foot foot foot foot foot foot foot .";
}

/* ------------------------------------- */
/* ------ Responsive breakpoints ------- */
/* ------------------------------------- */

@media only screen and (min-device-width: 800px) and (max-device-width: 1200px){
.wrapper{
    grid-template-areas:
    "head head head head head head head head head head"
    "rec video video video video video video video chat chat"
    "rec video video video video video video video chat chat"
    "info info info info info info info info news news"
    "info info info info info info info info news news"
    "scores scores scores scores scores scores scores scores news news"
    "foot foot foot foot foot foot foot foot foot foot";
    }
}


@media only screen and (min-device-width: 600px) and (max-device-width: 799px){
.wrapper{
    grid-template-areas:
    "head head head head head head head head head head"
    "rec video video video video video video video chat chat"
    "rec video video video video video video video chat chat"
    "info info info info info info info info news news"
    "info info info info info info info info news news"
    "scores scores scores scores scores scores scores scores news news"
    "foot foot foot foot foot foot foot foot foot foot";
    }
}


@media only screen and (max-device-width: 599px){
.wrapper{
    grid-template-areas:
        "head head head head head head head head head head"
        "video video video video video video video video video video"
        "info info info info info info info info info info"
        "chat chat chat chat chat chat chat chat chat chat"
        "scores scores scores scores scores scores scores scores scores scores"
        "news news news news news news news news news news"
        "foot foot foot foot foot foot foot foot foot foot";
    }

    .recommended{
        display: none;
    }
}











/*TODO change classes to navbar IDs*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}














